/* =========================
   DESKTOP
========================= */

.logo {
  padding-top: 45px;
  height: 74px;
  opacity: 1;
  border-bottom: 2px solid #545454;
}

.logo__image {
  max-width: 173px;
  height: 33px;
}

/* =========================
   TABLET
========================= */

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .logo {
    padding-left: 27px;
    padding-top: 28px;
  }
}

/* =========================
   PHONE
========================= */

@media screen and (min-width: 320px) and (max-width: 544px) {
  .logo {
    padding-left: 27px;
  }
}
