/* =========================
   DESKTOP
========================= */

.popup__profile {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup__container {
  max-width: 430px;
  width: 100%;
  height: 330px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.popup__close-button {
  background-image: url(../images/Close-button.png);
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 60%;
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
  transition: 0.2s;
}

.popup__title {
  max-width: 358px;
  width: 100%;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 36px auto 40px;
}

.popup__form {
  max-width: 358px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.popup__input {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  color: #000;
  font-size: 14px;
}

.popup__input::placeholder {
  color: #c4c4c4;
}

.popup__input:focus {
  color: #000;
}

/* .popup__input:not(:placeholder-shown) ~ .popup__save-button {
  color: #fff;
  border: none;
  background-color: #000;
} */

.popup__error {
  color: #ff0000;
  font-size: 12px;
  line-height: 15px;
  margin-top: -25px; /* Compensa el gap del form para pegarse al input */
  opacity: 0;
  transition: opacity 0.3s ease;
  min-height: 15px; /* Mantiene el espacio aunque no haya error */
}

.popup__error_visible {
  opacity: 1;
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

/* =========================
   SAVE BUTTON
========================= */

.popup__save-button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #ffffff; /* Letra blanca */
  background-color: #000000; /* Fondo negro */
  border: none; /* Quitamos el borde para el botón activo */
  border-radius: 2px;
  margin-top: 10px;
  cursor: pointer;
  transition:
    opacity 0.25s ease,
    background-color 0.25s ease; /* Transición suave */
}

.popup__save-button:hover {
  background-color: #808080;
  transition: 0.25s;
}

/* .popup__save-button:active {
  color: #fff;
  background-color: #000;
  border: none;
  opacity: 80%;
} */

/* Estado inactivo del botón de guardar */
.popup__button_disabled {
  border: 1px solid #000000;
  color: #000000;
  opacity: 0.2;
  cursor: not-allowed;
}

.popup__save-button.popup__button_disabled {
  background-color: transparent; /* Fondo blanco/transparente */
  color: #000000; /* Letra negra */
  border: 1px solid #000000; /* Borde negro */
  opacity: 0.2; /* Esto hace que el borde y la letra se vean gris clarito */
  cursor: not-allowed;
  pointer-events: none; /* ¡Vital! Desactiva el clic y evita que funcione el :hover */
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .popup__container {
    max-width: 282px;
    height: 322px;
  }
  .popup__close-button {
    width: 26px;
    height: 26px;
    padding: 0;
    background-size: cover;
    right: 0px;
  }
  .popup__title {
    font-size: 18px;
    max-width: 238px;
    margin: 25px auto 76px;
  }
  .popup__form {
    max-width: 238px;
  }
  .popup__save-button {
    font-size: 14px;
  }
}

/* =========================
   TABLET
========================= */

@media screen and (min-width: 320px) and (max-width: 544px) {
  .popup__container {
    max-width: 282px;
    height: 322px;
  }

  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -32px;
    right: 0;
  }

  .popup__title {
    max-width: 238px;
    font-size: 18px;
    margin: 25px auto 76px;
  }

  .popup__form {
    max-width: 238px;
  }

  .popup__save-button {
    font-size: 14px;
  }
}

/* =========================
   PHONE
========================= */

@media screen and (max-width: 320px) {
  .popup__container {
    max-width: 240px;
  }

  .popup__title {
    font-size: 16px;
    margin-bottom: 60px;
  }

  .popup__save-button {
    height: 45px;
  }
}
