/* =========================
   DESKTOP
========================= */

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(8px);
}

.popup_opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  /* transform: scale(1); */
}

.popup__container {
  background: #fff;
  border-radius: 10px;
  transform: scale(0.8);
  opacity: 0;
  transition: 0.3s ease;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

/* =========================
   POPUP DE CONFIRMACIÓN
========================= */

.popup__confirmation .popup__container {
  width: 430px;
  min-height: auto;
  height: auto;
  padding: 34px 36px 36px;
  box-sizing: border-box;
}

.popup__confirmation .popup__title {
  margin: 0 0 38px;
}

.popup__confirmation .popup__form {
  min-height: auto;
  height: auto;
  margin: 0;
  gap: 0;
}

.popup__confirmation .popup__save-button {
  margin: 0;
}

/* Popup de confirmación en teléfono */

@media screen and (max-width: 544px) {
  .popup__confirmation .popup__container {
    width: calc(100% - 38px);
    max-width: 282px;
    padding: 25px 22px;
  }

  .popup__confirmation .popup__title {
    margin-bottom: 25px;
    font-size: 18px;
  }
}

/* =========================
   TABLET
========================= */

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .popup {
    padding: 0 20px;
  }

  .popup__container {
    width: 100%;
    max-width: 282px;
  }
}

.popup_opened .popup__container {
  transform: scale(1);
  opacity: 1;
}

/* =========================
   PHONE
========================= */

@media screen and (min-width: 320px) and (max-width: 544px) {
  .popup {
    padding: 0 16px;
  }

  .popup__container {
    border-radius: 8px;
  }
}

@keyframes floatIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
